# Replace with your deployed Google Apps Script Web App URL
VITE_GOOGLE_APP_SCRIPT_URL=https://script.google.com/macros/s/YOUR_URL_HERE/exec

# Passing threshold (How many questions to answer correctly to pass)
VITE_PASS_THRESHOLD=3

# Number of questions to be randomly drawn from the pool each game
VITE_QUESTION_COUNT=5
